<div style="text-align: justify-all">
  <h2>Häufig gestellte Fragen- FAQ</h2>
  <br>
</div>

<details>
  <summary>1. Wie kann ich mich registrieren?</summary>
  <p>Das geht ganz einfach bei uns. Erstelle dir ein Benutzernamen und ein Passwort. Das wars!</p>
  <button class="btn-lg btn-outline-dark" [routerLink]="['/register']">Klicke hier, um dich zu registrieren!</button>
</details>

<details>
  <summary>2. Ist Fitality auch um fit zu bleiben geeignet?</summary>
  <p>Ja! Egal ob du abnehmen, zunehmen oder dein Gewicht bleibehalten willst. Du kannst deine Werte immer in die Tabelle eintragen und verfolgen. Außerdem findest du bei uns exklusive Ernährungspläne.</p>
</details>
