<div class = 'row m-0 w-100 d-flex flex-column sticky-footer-wrapper min-vh-100'>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <h1 class="mt-5">Häufig gestellte Fragen</h1>

      <details>
        <summary>1. Wie kann ich mich registrieren?</summary>
        <p>Das geht ganz einfach bei uns. Erstelle dir ein Benutzernamen und ein Passwort. Das wars!</p>
        <button class="btn-sm btn-outline-dark" [routerLink]="['/register']">Klicke hier, um dich zu registrieren!</button>
      </details>

      <br>

      <details>
        <summary>2. Ist Fitality auch um fit zu bleiben geeignet?</summary>
        <p>Ja! Egal ob du abnehmen, zunehmen oder dein Gewicht bleibehalten willst. Du kannst deine Werte immer in die Tabelle eintragen und verfolgen. Außerdem findest du bei uns exklusive Ernährungspläne.</p>
      </details>

      <br>

      <details>
        <summary>3. Muss ich in jede Spalte ein Wert eintragen?</summary>
        <p>Damit du deine Erfolge viel besser visualisieren kannst, solltest du in jede Spalte ein Wert eintragen. </p>
      </details>

      <br>

      <details>
        <summary>4. Ich kann nichts mehr in die Tabelle eintragen. Was kann ich tun?</summary>
        <p>Das sollte so eigentlich nicht passieren. Aktualisiere deine Website und melde dich neu an. Falls weiterhin Probleme entstehen sollten, melde dich Bitte umgehend bei uns. </p>
        <button class="btn-sm btn-outline-dark" [routerLink]="['/kontakt']">Klicke hier, um unsere Kontaktdaten zu sehen!</button>
      </details>

      <br>

      <details>
        <summary>5. Erstellt ihr individuelle Ernährungspläne? </summary>
        <p>Wir haben bereits zwei verschiedene Ernährungspläne auf unserer Website drinne. Jedoch helfen wir gerne bei individuellen Plänen auch. Schreib uns doch gerne eine E-Mail. </p>
        <button class="btn-sm btn-outline-dark" [routerLink]="['/kontakt']">E-Mail Adresse sehen</button>
      </details>

    </div>
  </div>
</div>
</div>
