<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <h1 class="mt-5">Allgeime Geschäftsbedingung von Fitality</h1>
      <p class="lead">1. Registrierung:
        <br>
        Nach der Registrierung ist der Nutzer berechtigt, alle Angebote der Plattform wahrzunehmen.
      </p>
      <p class="lead">2. Zugangsinformation:
        <br>
        Jeder registrierte Nutzer ist verpflichtet, Fitality im Falle der unbefugten Nutzung seines Mitgliedernamens oder Passworts unverzüglich zu berichten.
      </p>
      <p class="lead">3. Löschung von Inhalten:
        <br>
        Die registrierten Nutzer sind berechtigt, Inhalte, die von ihnen selbst eingestellt wurden, wieder zu löschen.
      </p>
      <p class="lead">4. Erstellung von Inhalten:
        <br>
        Die registrierten Nutzer sind berechtigt, Inhalte beziehungsweise Daten in die Tabelle individuell einzutragen.
      </p>
      <ul class="list-unstyled">
        <li>Euer</li>
        <li>Fitality-Team</li>
      </ul>
    </div>
  </div>
</div>
