<div style="text-align: center">
  <h2>Allgemeine Geschäftsbedingung von Fitality</h2>
  <br>
  <h4>1. Registrierung </h4>
  <h6>Nach der Registrierung ist der Nutzer berechtigt, alle Angebote der Plattform wahrzunehmen.</h6>
  <br>
  <h4>2. Zugangsinformation</h4>
  <h6>Jeder registrierte Nutzer ist verpflichtet, Fitality im Falle der unbefugten Nutzung seines Mitgliedernamens oder Passworts unverzüglich zu berichten.</h6>
  <br>
  <h4>3. Löschung von Inhalten </h4>
  <h6>Die registrierten Nutzer sind berechtigt, Inhalte, die von ihnen selbst eingestellt wurden, wieder zu löschen.</h6>
  <br>
  <h4>4. Erstellung von Inhalten </h4>
  <h6>Die registrierte Nutzer sind berechtigt, Inhalte beziehungsweise Daten in die Tabelle individuell einzutragen.</h6>










</div>
