<div style="text-align: justify-all">
  <h2>Datenschutz von Fitality</h2>
  <br>
  <h4>Information über die Verarbeitung deiner Daten</h4>
  <h6>Wir sind gemäß Artikel. 12 Datenschutz-Grundverordnung verpflichtet, dich über die Verarbeitung deiner Daten bei Nutzung unserer Website zu informieren. Wir nehmen den Schutz deiner persönlichen Daten sehr ernst und die vorliegende Datenschutzerklärung informiert Dich über die Einzelheiten der Verarbeitung Deiner Daten sowie über Deine diesbezüglichen gesetzlichen Rechte.</h6>
  <br>
  <h6>Wir behalten uns vor, die Datenschutzerklärung mit Wirkung für die Zukunft anzupassen, insbesondere im Fall der Weiterentwicklung der Website, bei der Nutzung neuer Technologien oder der Änderung der gesetzlichen Grundlagen bzw. der entsprechenden Rechtsprechung.</h6>
  <h6>Wir empfehlen dir, die Datenschutzerklärung von Zeit zu Zeit zu lesen und einen Ausdruck bzw. eine Kopie zu Deinen Unterlagen zu nehmen.
  </h6>
  <br>
  <h4>Fragen zum Datenschutz</h4>
  <h6>Solltest du Fragen zum Thema Datenschutz im Hinblick auf unsere Website haben, kannst Du dich an unseren Datenschutzbeauftragten wenden:</h6>
  <h6>Rechtsanwalt Max Mustermann
  <h6>Rechtsanwalt und Datenschutzbeauftragter</h6>
    Postanschrift: 12357</h6>



</div>
