<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <h1 class="mt-5">Datenschutz von Fitality</h1>
      <p class="lead">Wir sind gemäß Artikel. 12 Datenschutz-Grundverordnung verpflichtet, dich über die Verarbeitung deiner Daten bei Nutzung unserer Website zu informieren. Wir nehmen den Schutz deiner persönlichen Daten sehr ernst und die vorliegende Datenschutzerklärung informiert Dich über die Einzelheiten der Verarbeitung Deiner Daten sowie über Deine diesbezüglichen gesetzlichen Rechte.
      </p>
      <p class="lead">
        Solltest du Fragen zum Thema Datenschutz im Hinblick auf unsere Website haben, kannst Du dich an unseren Datenschutzbeauftragten wenden:
        <br>
        Rechtsanwalt Max Mustermann
        <br>
        Rechtsanwalt und Datenschutzbeauftragter
        <br>
        Postanschrift: 12357

      <ul class="list-unstyled">
        <li>Euer</li>
        <li>Fitality-Team</li>
      </ul>
    </div>
  </div>
</div>
