<div class = 'row m-0 w-100 d-flex flex-column sticky-footer-wrapper min-vh-100'>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <h1 class="mt-5">Inhaber von Fitality</h1>
      <p class="lead">Kübra Cetin und Dilara Avci </p>
      <p class="lead">
        Hochschule für Technik und Wirtschaft Berlin
        <br>
        Campus Wilhelminenhof
        <br>
        Wilhelminenhofstraße 75A, 12459 Berlin
        <br>

      <ul class="list-unstyled">
        <li>Euer</li>
        <li>Fitality-Team</li>
      </ul>
    </div>
  </div>
</div>
</div>
