<div class = 'row m-0 w-100 d-flex flex-column sticky-footer-wrapper min-vh-100'>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h1 class="mt-5">Beispiel Ernährungspläne von Fitality</h1>
        <p class="lead">Unsere Ernährungspläne basieren auf einen durchschnittlichen Kalorien-Richtwert für Erwachsene zwischen 19 und 25 Jahren. Täglicher und gesunder Kalorienbedarf liegt bei Männern bei 2500 kcal und Frauen 1900 kcal. Unsere Pläne sind nur ein Beispiel für ein Durchschnittswert für ca. 2200 kcal.  </p>
        <br>
        <p class="lead">Wenn du abnehmen möchtest, solltest du dich unter dem durchschnittlichen Kalorien-Richtwert ernähren. Bitte verzichte auf diverse Diäten, wo du hungerst! Gesund essen ist das A und O. Hier ein Beispiel: </p>
      </div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Montag</th>
          <th scope="col">Dienstag</th>
          <th scope="col">Mittwoch</th>
          <th scope="col">Donnerstag</th>
          <th scope="col">Freitag</th>
          <th scope="col">Samstag</th>
          <th scope="col">Sonntag</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Frühstück</th>
          <td>Hafer Porridge mit Früchten</td>
          <td>Spiegelei mit einer Scheibe Brot</td>
          <td>Beeren Smoothie mit Früchten</td>
          <td>Müsli mit Milch und Toppings deiner Wahl</td>
          <td>Dinkelbrot mit Avocado und Ei</td>
          <td>Hafer Porridge mit Früchten</td>
          <td>Smoothie Bowl mit Toppings deiner Wahl</td>
        </tr>
        <tr>
          <th scope="row">Mittagessen</th>
          <td>Basmati Reis mit geräuchertem Tofu</td>
          <td>Pasta mit Garnelen in fettarmer Sahnesauce</td>
          <td>Brokkolisuppe mit einer Scheibe Brot</td>
          <td>Hähnchen Bowl mit Gemüse deiner Wahl</td>
          <td>Gekochte salzige Kartoffeln mit gebackenem Lachs</td>
          <td>Thunfisch Salat</td>
          <td>Gefüllte Paprika mit Gurkensalat</td>
        </tr>
        <tr>
          <th scope="row">Abendessen</th>
          <td>Avocado Bowl mit gekochtem Ei</td>
          <td>Bohneneintopf</td>
          <td>Garnelen-Gemüse-Pfanne</td>
          <td>Tomatensuppe</td>
          <td>Gemischer Salat mit Fetakäse</td>
          <td>Knäckebrot mit Hummus Aufstrich</td>
          <td>Linsensuppe</td>
        </tr>
        <tr>
          <th scope="row">Snack</th>
          <td>Apfel</td>
          <td>Obstriegel</td>
          <td>Blaubeermuffin</td>
          <td>Banane</td>
          <td>Müsliriegel</td>
          <td>Grapefruit</td>
          <td>Proteinriegel</td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <img src="./assets/img/htw%20logo/foooood.jpg" alt="htw-logo">
    <br>
    <br>
    <br>
    <p class="lead">Wenn du zunehmen möchtest, solltest du über dem durchschnittlichen Kalorien-Richtwert dich ernähren. Bitte verzichte auf fettiges, ungesundes Fast Food. Für ein gesundes Zunehmen ein Beispiel: </p>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Montag</th>
        <th scope="col">Dienstag</th>
        <th scope="col">Mittwoch</th>
        <th scope="col">Donnerstag</th>
        <th scope="col">Freitag</th>
        <th scope="col">Samstag</th>
        <th scope="col">Sonntag</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Frühstück</th>
        <td>Vollkornbrot mit Kokos-Bananen-Aufstrich</td>
        <td>Bircher Müsli</td>
        <td>Protein Pancakes</td>
        <td>Vollkorntoast mit Aufstrich und Avocado</td>
        <td>Weizenbrot und gekochte Eier</td>
        <td>French Toast</td>
        <td>Türkischer Rührei mit Tomaten</td>
      </tr>
      <tr>
        <th scope="row">Mittagessen</th>
        <td>Chicken Curry mit Reis</td>
        <td>Pizza deiner Wahl</td>
        <td>Falafel-Wrap</td>
        <td>Gemüsepfanne mit Schupfnudeln</td>
        <td>Selbstgemachte Halloumi Burger</td>
        <td>Lasagne</td>
        <td>Kartoffelauflauf mit Brokkoli</td>
      </tr>
      <tr>
        <th scope="row">Abendessen</th>
        <td>Sandwich mit Käse und Tomate</td>
        <td>Zucchinipuffer</td>
        <td>Kichererbsen Pfanne mit Spinat</td>
        <td>Linsensuppe mit einer Scheibe Brot</td>
        <td>Salat mit gegrilltem Hähnchen</td>
        <td>Milchreis</td>
        <td>Gemüse-Couscous</td>
      </tr>
      <tr>
        <th scope="row">Snack</th>
        <td>Obstsalat mit Mandelmus</td>
        <td>Schokokuchen</td>
        <td>Selbstgemachte Waffeln</td>
        <td>Kokosmakronen</td>
        <td>Eiscreme</td>
        <td>Apfelstrudel</td>
        <td>Crepes</td>
      </tr>
      </tbody>
    </table>
    <br>

  </div>



</div>
