<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group row">
      <label for="inputDatum" class="col-sm-2 col-form-label">Datum</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="datumControl" id="inputDatum">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputGewicht" class="col-sm-2 col-form-label">Gewicht</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="gewichtControl" id="inputGewicht">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputArm" class="col-sm-2 col-form-label">Armunfang</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="armControl" id="inputArm">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputBrust" class="col-sm-2 col-form-label">Brustumfang</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="brustControl" id="inputBrust">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputTaille" class="col-sm-2 col-form-label">Taillenumfang</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="tailleControl" id="inputTaille">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputHuefte" class="col-sm-2 col-form-label">Hüftumfang</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="huefteControl" id="inputHuefte">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputOber" class="col-sm-2 col-form-label">Oberschenkel</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="oberschenkelControl" id="inputOber">
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Hinzufügen</button>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-secondary btn-block" (click)="cancel()" >Cancel</button>
      </div>
    </div>
  </form>
</div>
