
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  color: chocolate;
  background-color: rgba(158, 162, 162, 0.1);
}
.bg{
  background-color: rgba(158, 162, 162, 0.1);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(158, 162, 162, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(158, 162, 162, .25);
}

body{
  font-family: Verdana;
}

.flexExpand {
  flex: 1 1 auto;

}
