<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <h1 class="mt-5">Kontakt</h1>
      <p class="lead">Bevor Du eine Anfrage sendest, bedenke bitte, dass du die Antworten auf viele deiner Fragen auch in unserer FAQ finden kannst.
      </p>
      <p class="lead">
        Falls eine andere Frage bestehen sollte, kannst du dich telefonisch von Montag bis Freitag zwischen 10-14 Uhr melden.
        <br>
        Oder sende uns doch gerne eine E-Mail!
        <br>
        <br>
        Telefon: 030/240619
        <br>
        Fax: 030 798
        <br>
        <br>
        E-Mail
        <br>
        Kuebra.Cetin@Student.HTW-Berlin.de
        <br>
        Dilara.Avci@Student.HTW-Berlin.de
        <br>
    
    </div>
  </div>
</div>
