<!-- Grid container -->

<footer style="background-color: rgba(80, 87, 89,0.7); color: white;">
  <div class="text-center">
    <!--Grid row-->
    <div class="row pt-md-4 pt-sm-4">

      <div class="col-lg-2 col-md-6 mt-lg-2 mb-md-3 mb-sm-3">
        <h6>
          <a routerLink="/impressum">IMPRESSUM</a>
        </h6>
      </div>
      <div class="col-lg-2 col-md-6 mt-lg-2 mb-md-3 mb-sm-3">
        <h6>
          <a routerLink="/agb">AGB</a>
        </h6>
      </div>

      <div class="col-lg-2 col-md-6 mt-lg-2 mb-md-3 mb-sm-3">
        <h6>
          <a routerLink="/datenschutz">DATENSCHUTZ</a>
        </h6>
      </div>

      <div class="col-lg-2 col-md-6 mt-lg-2 mb-md-3 mb-sm-3">
        <h6>
          <a routerLink="/kontakt">KONTAKT</a>
        </h6>
      </div>

      <div class="col-lg-2 col-md-6 mt-lg-2 mb-md-3 mb-sm-3">
        <h6>
          <a routerLink="/faq">FAQ</a>
        </h6>
      </div>




      <div class="col-lg-2 col-md-12 mb-md-3 mb-sm-3 p-1">
        <img src="./assets/img/htw%20logo/S08_HTW_Berlin_Logo_pos_GRUEN_CMYK.eps" alt="htw-logo">
      </div>
    </div>
  </div>
  <div class="text-center mr-4 ml-4">
    <div class="border-top p-3"><h6>© FITALITY 2021</h6></div>

  </div>
</footer>

