<main class="d-flex flex-column sticky-footer-wrapper min-vh-100" role="main">
  <div class="container">
    <br>
    <br>
    <h1>Herzlich Willkommen bei Fitality!</h1>
    <br>
    <p class="lead">
    Du willst dein Gewicht immer im Blick haben? Dann ist Fitality für dich perfekt!
    <br>
    Auf Fitality kannst du dein Gewicht mit allen wichtigen Daten speichern und somit Blick auf deine Erfolge haben. Egal ob du zunehmen, abnehmen oder dich einfach fit halten willst!
    <span style="text-align: center; color: rgb(194,225,137);">Registriere dich jetzt und probier es aus!</span>
  </p>
  <div class="form-group">
    Du bist noch kein Account?
  </div>
  <button class="btn-lg btn-outline-dark" [routerLink]="['/register']">Klicke hier, um dich zu registrieren!</button>
  </div>
</main>
