<main class="d-flex flex-column sticky-footer-wrapper min-vh-100" role="main">
  <div class="container">
  <h1>Welcome to WaTuDu!</h1>
  <p class="lead">
    You can't remember what to do? Then WaTuDu is perfect for you!
    <br>
    On WaTuDu, you can create your personal To-Do List without any effort!
    <span style="text-align: center; color: rgb(194,225,137);">Log In and try it out yourself!</span>
  </p>
  <div class="form-group">
    You don't have an account yet?
  </div>
  <button class="btn-lg btn-outline-dark" [routerLink]="['/register']">Click to register yourself!</button>
  </div>
</main>
